body {
    /* background-color: black; */
    background-color: #191919;
}

header {
    background-color:red;
    padding-top: px;
    margin-right: 0px;
    border-color: beige;
}

header img {
    float: left;
    margin-top: -20px;
    padding-top: 20px;
    max-width: 50%;
    max-height: 50%;

}

header h1 {
    margin-left: 250px;
    margin-top: 5px;

    font-size: 100px;
}

main section img {
    padding-left: 500px;
}

main section p {
    margin-bottom: 200px;
    float: left;
}

section p {
    color: beige;
}

footer {
    color:red;
}




