body {
    background-color: black;
}

head {
    color:black;
    float: right;

}

head  link {
float: right;
margin-right: 100px;
}

header {
    background-color:red;
    padding-top: px;
    margin-right: 0px;
    border-color: beige;
    

}

header img {
float: left;
margin-top: -20px;
padding-top: 20px;

}

header h1 {
    margin-left: 250px;
    margin-top: 5px;

    font-size: 100px;
    
    
    
}

section p {
    color: beige;
}

section img {
    float: inline;
}

footer {
    color:red;
}


